body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #032221;
}
nav img {
  width: 250px;
}
nav ul {
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

footer img {
  width: 250px;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

.back_ground {
  background-image: url(/img/natural-surface-with-peony-bush-foliage-copy-space-Recovered.png);
  background-position: bottom;
  background-size: cover;
  height: 700px;
  background-repeat: no-repeat;
}

.back_ground h1 {
  font-size: 8rem;
  color: white;
  text-shadow: -5px 5px 10px #032221;
}

h2 {
  color: #2cc295;
  margin: 25px;
  text-align: center;
}
.curve {
  background-image: url(/img/back.png);
  background-position: bottom;
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
}
